In [1]:
import pandas as pd

In [2]:
# Data Loading 
recipe_df = pd.read_csv(r"ff.csv")
rating_df=pd.read_csv(r"rating.csv")

In [3]:
recipe_df.tail()

,RecipeId,RecipeName,Ingredients,TotalTimeInMins,Servings,Cuisine,Course,Diet,Instructions,URL
94,104,Kobari Charu recipe - Kobbari Charu Recipe,"2-1 / 2 cups coconut milk, 1 cup water, 1/4 cu...",50,4,South Indian Recipes,Lunch,High Protein Vegetarian,"To make the Kobbari Charu recipe, we will firs...",https://www.archanaskitchen.com/kobbari-chaaru...
95,105,Basil Tincture Recipe (Or) - Herbal Drink From...,"2 cups Water,1 Tulsi (holy basil),1/2 teaspoon...",10,4,Indian,Side Dish,Vegetarian,"To begin making the Kashayam Recipe, prep all ...",http://www.archanaskitchen.com/tulsi-kashayam-...
96,106,Carrot Corn Mayo Pancake Recipe With Sandwich ...,"2 Carrot (Gajjar) - peeled and grated,3/4 cup ...",55,4,Continental,World Breakfast,Vegetarian,To begin making the Carrot Corn Mayo Pancake R...,http://www.archanaskitchen.com/carrot-corn-may...
97,107,Tamil Nadu Style Spicy Egg Fry Recipe,"2 Whole Eggs,Sunflower Oil - for frying,3 tabl...",35,4,Tamil Nadu,Appetizer,Eggetarian,To begin making the Tamil Nadu Style Spicy Egg...,http://www.archanaskitchen.com/tamil-nadu-styl...
98,108,Chirer Dudh Puli Recipe - Bengali Style Baten ...,"2 cups Fresh coconut - grated,1 cup Palm jagge...",40,4,Bengali Recipes,Dessert,Vegetarian,"To begin making the Chirer Dudh Puli recipe, f...",https://www.archanaskitchen.com/chirer-dudh-pu...

In [4]:
#user_id=1 voted for which recipe_id
rating_df.head()

   user_id  recipe_id  rating
0        1         88       4
1        1         46       3
2        1         24       5
3        1         25       4
4        2         49       1

In [5]:
#renaming the column name
recipe_df.rename(columns={'RecipeId':'recipe_id'},inplace=True)

In [6]:
recipe_df.shape

(99, 10)

In [7]:
rating_df.shape

(511, 3)

In [8]:
# combining the df (which users voted for recipe_id=1)
df = pd.merge(recipe_df,rating_df,on='recipe_id')
df.head()

,recipe_id,RecipeName,Ingredients,TotalTimeInMins,Servings,Cuisine,Course,Diet,Instructions,URL,user_id,rating
0,1,Masala Karela Recipe,"6 Karela (Bitter Gourd/ Pavakkai) - deseeded,S...",45,6,Indian,Side Dish,Diabetic Friendly,"To begin making the Masala Karela Recipe,de-se...",https://www.archanaskitchen.com/masala-karela-...,49,5
1,1,Masala Karela Recipe,"6 Karela (Bitter Gourd/ Pavakkai) - deseeded,S...",45,6,Indian,Side Dish,Diabetic Friendly,"To begin making the Masala Karela Recipe,de-se...",https://www.archanaskitchen.com/masala-karela-...,71,10
2,2,Spicy Tomato Rice (Recipe),"2-1 / 2 cups rice - cooked, 3 tomatoes, 3 teas...",15,3,South Indian Recipes,Main Course,Vegetarian,"To make tomato puliogere, first cut the tomato...",http://www.archanaskitchen.com/spicy-tomato-ri...,9,3
3,2,Spicy Tomato Rice (Recipe),"2-1 / 2 cups rice - cooked, 3 tomatoes, 3 teas...",15,3,South Indian Recipes,Main Course,Vegetarian,"To make tomato puliogere, first cut the tomato...",http://www.archanaskitchen.com/spicy-tomato-ri...,22,5
4,2,Spicy Tomato Rice (Recipe),"2-1 / 2 cups rice - cooked, 3 tomatoes, 3 teas...",15,3,South Indian Recipes,Main Course,Vegetarian,"To make tomato puliogere, first cut the tomato...",http://www.archanaskitchen.com/spicy-tomato-ri...,39,10

In [9]:
df.shape

(234, 12)

In [10]:
#checking for null values
combined_df = df.dropna()
combined_df.shape

(234, 12)

# for weighted rating calculation,WR=((r*v)+(c*m))/(v+m)
'''
v=no.of votes for each recipe
m=minimum votes required for each recipe
r=avg of the ratings for each recipe
c=mean vote across the whole report
'''

In [11]:
#calculating no_of_user voted for each recipe--(v)
no_of_votes=(combined_df.groupby(by=['recipe_id'])['rating'].count().reset_index().
rename(columns = {'rating': 'totalRatingCount'})
[['recipe_id', 'totalRatingCount']])
no_of_votes.head()

   recipe_id  totalRatingCount
0          1                 2
1          2                 3
2          3                 2
3          4                 2
4          5                 6

In [12]:
#calculating avg(mean)_of_rating for each recipe--(r)
ratings_avg=(combined_df.groupby(by=['recipe_id'])['rating'].mean().reset_index().
rename(columns = {'rating': 'avg'})
[['recipe_id', 'avg']])
ratings_avg

    recipe_id  avg
0           1  7.5
1           2  6.0
2           3  4.0
3           4  6.0
4           5  6.5
..        ...  ...
94        104  6.0
95        105  9.0
96        106  9.0
97        107  1.0
98        108  3.5

[99 rows x 2 columns]

In [13]:
no_of_votes['RecipeName']=recipe_df['RecipeName']

In [14]:
no_of_votes['average']=ratings_avg['avg']

In [15]:
no_of_votes

,recipe_id,totalRatingCount,RecipeName,average
0,1,2,Masala Karela Recipe,7.5
1,2,3,Spicy Tomato Rice (Recipe),6.0
2,3,2,Ragi Semiya Upma Recipe - Ragi Millet Vermicel...,4.0
3,4,2,Gongura Chicken Curry Recipe - Andhra Style Go...,6.0
4,5,6,Andhra Style Alam Pachadi Recipe - Adrak Chutn...,6.5
...,...,...,...,...
94,104,1,Kobari Charu recipe - Kobbari Charu Recipe,6.0
95,105,1,Basil Tincture Recipe (Or) - Herbal Drink From...,9.0
96,106,1,Carrot Corn Mayo Pancake Recipe With Sandwich ...,9.0
97,107,1,Tamil Nadu Style Spicy Egg Fry Recipe,1.0
98,108,2,Chirer Dudh Puli Recipe - Bengali Style Baten ...,3.5

In [16]:
v=no_of_votes['totalRatingCount']#no.of votes for each recipe
m=no_of_votes['totalRatingCount'].quantile(0.70)#minimum votes required for each recipe
r=no_of_votes['average']#avg of the ratings for each recipe
c=no_of_votes['totalRatingCount'].mean()#mean vote across the whole report

In [17]:
v.head()

0    2
1    3
2    2
3    2
4    6
Name: totalRatingCount, dtype: int64

In [18]:
m

3.0

In [19]:
z=v+m
z.head()

0    5.0
1    6.0
2    5.0
3    5.0
4    9.0
Name: totalRatingCount, dtype: float64

In [20]:
r.head()

0    7.5
1    6.0
2    4.0
3    6.0
4    6.5
Name: average, dtype: float64

In [21]:
c

2.3636363636363638

In [22]:
no_of_votes['weighted_avg']=((r*v)+(c*m))/(v+m)

In [23]:
no_of_votes.head()

,recipe_id,totalRatingCount,RecipeName,average,weighted_avg
0,1,2,Masala Karela Recipe,7.5,4.418182
1,2,3,Spicy Tomato Rice (Recipe),6.0,4.181818
2,3,2,Ragi Semiya Upma Recipe - Ragi Millet Vermicel...,4.0,3.018182
3,4,2,Gongura Chicken Curry Recipe - Andhra Style Go...,6.0,3.818182
4,5,6,Andhra Style Alam Pachadi Recipe - Adrak Chutn...,6.5,5.121212

In [24]:
no_of_votes.shape

(99, 5)

In [25]:
#weighted Rate sorted

In [26]:
recipe=no_of_votes.sort_values('weighted_avg',ascending=False)
lists=recipe[['RecipeName','weighted_avg']]
lists.head()

                                           RecipeName  weighted_avg
17  Gourd Raita Recipe - Grated Bottle Gourd Yogur...      5.386364
39      Baingan Bharta Recipe - Brinjal Bharta Recipe      5.155844
6          Udupi Style Ash Gourd Coconut Curry Recipe      5.136364
4   Andhra Style Alam Pachadi Recipe - Adrak Chutn...      5.121212
46                      Whole Wheat Pita Bread Recipe      4.870130

In [27]:
top_list=recipe['RecipeName'].head(6)

In [28]:
import pickle

In [29]:
pickle.dump(lists,open('a.pkl','wb'))

In [30]:
pickle.dump(top_list,open('b.pkl','wb'))

In [31]:
pickle.load(open('a.pkl','rb'))

                                           RecipeName  weighted_avg
17  Gourd Raita Recipe - Grated Bottle Gourd Yogur...      5.386364
39      Baingan Bharta Recipe - Brinjal Bharta Recipe      5.155844
6          Udupi Style Ash Gourd Coconut Curry Recipe      5.136364
4   Andhra Style Alam Pachadi Recipe - Adrak Chutn...      5.121212
46                      Whole Wheat Pita Bread Recipe      4.870130
..                                                ...           ...
72  Matar Paneer Kachori Korma Recipe - Green Peas...      2.272727
33              Matar Samosa Recipe -Green Pea Samosa      2.218182
70                                 Radish Soup Recipe      2.022727
97              Tamil Nadu Style Spicy Egg Fry Recipe      2.022727
59             Bengali radish potato vegetable recipe      1.818182

[99 rows x 2 columns]

In [32]:
pickle.load(open('b.pkl','rb'))

17    Gourd Raita Recipe - Grated Bottle Gourd Yogur...
39        Baingan Bharta Recipe - Brinjal Bharta Recipe
6            Udupi Style Ash Gourd Coconut Curry Recipe
4     Andhra Style Alam Pachadi Recipe - Adrak Chutn...
46                        Whole Wheat Pita Bread Recipe
74    Thengai Sadam Recipe (A Quick and Healthy Coco...
Name: RecipeName, dtype: object